        <div class="footer" align="center">
            <!--<img src="/../img/crm.png" width="300px" onclick="window.location.href = 'http://localhost:3000';">-->
        </div>
    </div>
</body>
</html>