<!doctype html>
<html lang="en">
<head>
    <title>CRM система IMT</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container text-center mt-5">
    <img src="/../img/crm.png" width="200px" alt="" onclick="window.location.href = '/customers';">
    <div class="page-header">
        <h3><%= title %></h3>
    </div>
</div>